{% extends 'base.html' %}

{% block content %}
{% load static %}
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="{% static 'assets/images/img-01.png' %}" alt="IMG">
			</div>
			<!-- keep a stylish welcome page here -->
				<div class="login100-form validate-form">
				<span class="login100-form-title">
					Welcome to Bank of Django {{ user }}!
				</span>
				
				<br>
				<br>
			</div>	
			<div class="container-login100-form-btn">
				<a href="{% url 'logout' %}">
					<button class="login100-form-btn">
						Logout
					</button>
				</a>

			
		</div>
	</div>
{% endblock %}
	

	